{% block actors %}
    <option selected disabled>Elus disponibles</option>
    {% for actor in actors %}
        <option value="{{ actor.id }}"> {{ actor.firstName}} {{ actor.lastName}} </option>
    {% endfor %}
{% endblock %}
