{% extends 'base_login.html.twig' %}

{% block body %}

    <div class="form-side">
        <div class="form-content">


            <section>
                <h3>Les élus, invités et personnels administratifs peuvent visualiser les séances via le bouton "accès aux séances" sur la page de connexion </h3>
                <a href="{{ path('app_logout') }}" class="btn btn-primary float-end mt-3">
                    <span class="fa fa-arrow-left"></span>
                    Retour à la page de connexion
                </a>
            </section>
        </div>
    </div>

{% endblock %}
