{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}


        <button type="submit" class="btn btn-outline-primary float-right">Enregistrer</button>
        {{ form_end(form) }}
    </div>



{% endblock %}

{% block title %}

{% endblock %}

