<div style="margin-top: 100px">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 well">
            <h2>Mot de passe oublié</h2>
            Veuillez remplir le formulaire suivant afin de recevoir un email pour réinitialiser votre mot de passe

            <form style="margin-top: 50px">

                <div class="col-md-8 col-md-offset-2">

                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               placeholder="Identifiant" ng-model="account.username" required autofocus>
                    </div>
                    <br>

                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-at"></i></div>
                        <input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               placeholder="Suffixe" ng-model="account.suffix" required autofocus>
                    </div>
                    <br>


                    <div></div>
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <button class="btn  btn-primary" type="button" ng-click="reInit()"> Demande de reinitialisation</button>
                    </div>

                </div>
            </form>

        </div>


    </div>

</div>
