<button ng-click="goToAccueil()" title="Précédent" type="button" class="btn btn-primary perso-top-left" ><i class="fa fa-reply fa-2x"></i></button>
<button ng-click="purgeData()" title="Supprimer les données" type="button" class="btn btn-danger perso-top-right " ><i class="fa fa-trash-o fa-2x"></i></button>


<div ng-repeat="account in accounts">

        <account-login account="account"></account-login>


</div>

<div style="display: flex; justify-content: center; margin-top: 50px">
    <button  style="display: flex; align-items: center; gap: 10px"  ng-click="addAccount()" title="Ajouter un compte" type="button" class="btn btn-primary  " ><i class="fa fa-plus fa-2x"> </i> <span style="font-size: 2em"> Ajouter un compte </span></button>
</div>


