{% extends 'easy_base.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}


{% block body %}
<div class="col-5">
    <div id="pdf-container" style="overflow: auto; height: 90vh; width: 40vw; position: absolute; top: 80px; transform: translateX(-10%);">
        <div id="viewer" class="pdfViewer" ></div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('pdfjs') }}
{% endblock %}