{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Statistiques' %}

{% block pageTable %}
    <table class="table table-striped mt-3 bg-white">
        <thead>
            <tr class="d-flex">
                <th class="col-7">Type</th>
                <th class="col-3">Paramètre</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex">
                <td class="col-7">Utilisateurs</td>
                <td class="col-3"></td>
                <td class="col-2">
                    <a href="{{ path('statistic_user') }}" class="btn btn-outline-primary borderless" title="Statistiques utilisateurs">
                        <span class="fas fa-chart-bar"></span>
                    </a>
                </td>
            </tr>

            <tr class="d-flex">
                <form method="get" action="{{ path('statistic_sitting') }}">
                    <td class="col-7">Séances</td>
                    <td class="col-3">
                        <div class="form-inline">
                            <input name="months" type="number" min="1" class="form-control col-3"> &ensp;Mois passé(s)
                        </div>
                    </td>
                    <td class="col-2">
                        <button class="btn btn-outline-primary borderless" title="Statistiques des séances">
                            <span class="fas fa-chart-bar"></span>
                        </button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}
