<div class="row mt-4">
    <div class="col-8 offset-2 alert alert-info">
        Information : Votre csv doit être contruit de la manière suivante : <br>
        Le séparateur est le caractère "," <br>
        champ 1 : Prénom <br>
        champ 2 : Nom <br>
        champ 3 : Email <br>
        <br>
        Exemple : <br>
        Damien,Martin,d.martin@exemple.org<br>
        Emilie,Durant,e.durant@exemple.org
    </div>
</div>