<div class="alert alert-info">

    date de la séance : #dateseance# <br>
    heure de la séance : #heureseance# <br>
    lieu de la seance : #lieuseance# <br>
    type de la séance : #typeseance# <br>
    prénom de l'élu : #prenom# <br>
    nom de l'élu : #nom# <br>
    titre de l'élu : #titre# <br>
    civilité de l'élu : #civilite# <br>
</div>


<div class="alert alert-warning mt-2">
    Le fichier de convocation ne sera joint que si sa taille est < 500 ko
</div>
