<nav class="navbar navbar-expand-lg navbar-dark bg-ls-dark">
    <a class="nav-item" href="#"><img style="height: 25px; padding-bottom: 5px" src="{{ asset('assets/img/ce-200px-blanc.png') }}"
                                      alt="idelibre" class="img-fluid"></a>
</nav>
