{% block availables %}
    <option value="">Ne pas associer de suppléant</option>
    {% for available in availables %}
        <option value="{{ available.id }}"> {{ available.firstName}} {{ available.lastName}} </option>
    {% endfor %}
{% endblock %}
