{% block pairs %}
    <option disabled selected> choisir suppléant </option>
    {% foreach pairs as pair %}
        <option value="{{ pairs.id }}">{{ pairs.firstname ~ " " ~ pairs.lastName }}</option>
    {% endfor %}
{% endblock %}

