{% block pairs %}
    <option disabled selected> choisir suppléant </option>
    {% foreach pair in pairs %}
        <option value="{{ pair.id }}">{{ pair.firstname ~ " " ~ pair.lastName }}</option>
    {% endfor %}
{% endblock %}

