{% block pairs %}
    <option disabled>choisir bitch </option>
    {% for pair in pairs %}
        <option value="{{ pair.id }}">{{ pair.firstname ~ " " ~ pair.lastName }}</option>
    {% endfor %}
{% endblock %}

