{% block availables %}
    {% for available in availables %}
        <option value="{{ available.firstName}} {{ available.lastName}} "> {{ available.firstName}} {{ available.lastName}} </option>
    {% endfor %}
{% endblock %}
