<div class="modal-header">
    <h3 class="modal-title">Présence à la Séance</h3>
</div>


<div class="modal-body">

    <div ng-show="!isPresenceStatusEditable">
        La date de la séance est passéee. Vous ne pouvez plus préciser votre présence.
    </div>

    <div ng-show="isPresenceStatusEditable">
        {{ getPresenceMessageEditable() }}
    </div>

</div>


<div class="modal-footer">
    <button class="btn btn-danger pull-left" ng-click="cancel()">Annuler</button>

    <div ng-show="isPresenceStatusEditable">
        <button  class="btn btn-warning" ng-click="absent()">Absent</button>
        <button  class="btn btn-success" ng-click="present()">Présent</button>
        <button ng-show="isAllowedRemote" class="btn btn-success"
                ng-click="presentRemotely()">Présent en distanciel
        </button>
    </div>
</div>