{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-10 offset-1">
        {{ apy_breadcrumb_trail_render(breadcrumb) }}
    </div>

    <div class="col-10 offset-1 mt-3">
        {% block pageTop %}{% endblock %}


        <h1>{% block pageTitle %}{% endblock %}</h1>

        <div class="mt-4">
            {% block pageActions %} {% endblock %}
        </div>

        <div class="mt-4 col-8 offset-2">
            {% block pageDetails %} {% endblock %}
        </div>

        <div class="row mt-4">
            <div class="col-8 offset-2 form-white">
                {% block pageForm %}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="float-right">
                        {% block pageSaveReturn %}{% endblock %}
                    </div>
                    {{ form_end(form) }}

                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}


