{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Abonnement aux notifications' %}

{% block pageActions %}
    <a href="{{ path('subscription_edit', {'id': user.id}) }}" class="btn btn-primary">
        <span class="fas fa-pen"></span>
        Modifier
    </a>
{% endblock %}

{% block pageTable %}
    <table class="table table-striped bg-white mt-5 col-8 offset-2">
        <tbody>
            <tr class="d-flex">
                <td class="col-11">
                    Autoriser la réception des mails récapitulant les réponses de présences/absences  des élus aux différentes séances
                </td>
                <td class="col-1">
                    {% if user.acceptMailRecap %}
                        <span class="fas fa-check text-success"></span>
                    {% else %}
                        <span class="fa fa-times text-danger"></span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}